*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}
:root{
  font-size: 18px;
}

/* NAVBAR */
.navbar{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-items{
  padding: 10px 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-btn{
  display: none;
  width: 45px;
  height: 20px;
  position: absolute;
  right: 3%;
  top: 3%;
  cursor: pointer;
}
.navbar li{
  font-size: .8rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.navbar li:hover{
  color: #E8C300;
  transition: .3s ease-in-out;
}
.logo img{
  width: 90px;
  height: 90px;
  position: relative;
}
.logosmall img{
  display: none;
  margin-top: 15px;
}

/* HEADER */
.header{
  width: 100%;
  height: 100vh;
  background-image: url(./images/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* MAIN TITLE */
.main-title{
  color: white;
  width: fit-content;
  height: 300px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-title p{
  font-size: .8rem;
  font-family: 'Open Sans', sans-serif;
}
.main-title h1{
  color: #fff;
  font-family: 'Banny';
  letter-spacing: 3px;
  font-size: 4rem;
}
.main-title h1:after{
  content: '';
  width: 20%;
  border-bottom: solid 5px #E8C300;
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border-radius: 10px;
}
.main-title .btns{
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btns button{
  padding: 10px 20px;
}
.btns button:nth-of-type(1){
  background-color: #E8C300;
  border: none;
  outline: none;
}
.btns button:nth-of-type(2){
  color: white;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.65);
}


/* ABOUT PAGE */
.aboutus{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutus .abt-text{
  height: 250px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.aboutus .abt-text h1{
  font-family: 'Banny';
  padding: 5px;
  font-size: 2rem;
  position: relative;
}
.aboutus .abt-text h1:after{
  content: '';
  width: 30%;
  border-bottom: solid 5px #E8C300;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border-radius: 10px; 
}
.aboutus .abt-text h3{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.aboutus .abt-text p{
  font-size: .9rem;
  text-align: center;
}
.aboutus .abt-img{
  width: 30%;
  position: relative;
}
.aboutus .abt-img img:nth-of-type(1){
  width: 500px;
  height: 500px;
  position: absolute;
  top:-240px;
  right: 100px;

}
.aboutus .abt-img img:nth-of-type(2){
  width: 350px;
  height: 350px;
  position: absolute;
  top: -180px;
  right: 20px;
}

/* TEAM-PAGE */
.team{
  height: 100vh;
  width: 100%;
  background-image: url('./images/team-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
 .team-text{
  height: 300px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
 .team-text h1{
  font-family: 'Banny';
  padding: 5px;
  font-size: 2rem;
  position: relative;
}
 .team-text h1:after{
  content: '';
  width: 30%;
  border-bottom: solid 5px #E8C300;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border-radius: 10px; 
}
 .team-text h3{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
 .team-text p{
  font-size: .9rem;
  text-align: center;
}
 .team-img{
  width: 30%;
  position: relative;
}
.team-img img:nth-of-type(1){
  width: 500px;
  height: 500px;
  position: absolute;
  top:-240px;
  left: 100px;

}
.team-img img:nth-of-type(2){
  width: 350px;
  height: 350px;
  position: absolute;
  top: -180px;
  left: 0;
}
/* BOOKING  */
.booking{
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: flex;
}
.booking-img{
  position: relative;
  width: 50%;
}
.booking-img img:nth-of-type(1){
  width: 550px;
  height: 550px;
  position: absolute;
  top:100px;
  right:100px;
}
.booking-img img:nth-of-type(2){
  width: 350px;
  height: 350px;
  position: absolute;
  top: 180px;
  right:0;
}
.booking-content{
  height: 55%;
  width: 50%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.booking-content h1{
  font-family: 'Banny';
  padding: 5px;
  font-size: 2rem;
  position: relative;
}
.booking-content h1::after{
  content: '';
  width: 32%;
  border-bottom: solid 5px #E8C300;
  position: absolute;
  left: 31%;
  top: 90%;
  border-radius: 10px; 
}
.booking-content .inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  gap:10px;
  width: 80%;
}
.booking-content .inputs input{
  width: 15rem;
  height: 45px;
  background-color: #e5e5e5;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;

}
.booking-content button{
  padding: 10px 20px;
  border: none;
  background-color: #E8C300;
  color: white;
  width: 80%;
  height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
/* SPECIALTIES */
.specialties{
  padding: 10px;
  width:100%;
  height: 100vh;
  background-image: url('./images/specialty-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.spe-text{
  height: 300px;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
 .spe-text h1{
  font-family: 'Banny';
  padding: 5px;
  font-size: 2rem;
  position: relative;
}
 .spe-text h1:after{
  content: '';
  width: 30%;
  border-bottom: solid 5px #E8C300;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border-radius: 10px; 
}
 .spe-text h3{
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}
 .spe-text p{
  font-size: .9rem;
  text-align: center;
}
.spe-img{
  width: 30%;
  position: relative;
}
.spe-img img:nth-of-type(1){
  width: 500px;
  height: 500px;
  position: absolute;
  top:-240px;
  left: 100px;

}
.spe-img img:nth-of-type(2){
  width: 350px;
  height: 350px;
  position: absolute;
  top: -180px;
  left: 0;
}

/* MENU */
.menu{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Open Sans';
}
.menu h1{
  font-family: 'Banny';
  padding: 5px;
  font-size: 2rem;
  position: relative;
}
.menu h1::after{
  content: '';
  width: 32%;
  border-bottom: solid 5px #E8C300;
  position: absolute;
  left: 31%;
  top: 90%;
  border-radius: 10px; 
}
.menu p{
  font-size: .8rem;
}
.genre{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  font-size: .9rem;
}
.genre li{
  padding-right:40px;
}
.genre li:nth-of-type(1),.genre li:nth-of-type(2),.genre li:nth-of-type(3),
.genre li:nth-of-type(4),.genre li:nth-of-type(5),.genre li:nth-of-type(6){
  border-right: 1px solid #171717;
}
.list-menu{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(7,1fr);
  gap:2rem 10rem;
}
.list-menu span{
  font-family: 'Banny';
}

/* EVENTS */
.events{
  min-height: 130vh;
  width: 100%;
  background-image: url('./images/specialty-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans';
  position: relative;
}
.events h3{
  padding: 10px;
  font-size: .9rem;
  color: white;
  letter-spacing: 3px;
}
.events p{
  font-size: .8rem;
  color: white;
}
.event-img-1{
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.part1,.part2{
  position: relative;
}
.part1 img:nth-of-type(1){
  position: absolute;
  left: -150px;
  bottom: 80px;
}
.part2 img:nth-of-type(2){
  position: absolute;
  bottom: 80px;
  right:-150px;
}
.event-img-2{
  border: 10px solid #000;
  display: flex;
  position: absolute;
  height: auto;
  bottom: 0;
}

/* CONTACT FORM */

.contact{
  padding: 30px;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans';
}
.contact h1{
  font-family: 'Banny';
  padding: 5px;
  font-size: 2rem;
  position: relative;
}
 .contact h1:after{
  content: '';
  width: 50%;
  border-bottom: solid 5px #E8C300;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border-radius: 10px; 
}
.contact p{
  font-size: .8rem;
}
.contact-inputs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.contact input{
  padding: 10px 20px;
  border-radius: 2px;
  border: .2px solid #171717;
}
.contact input:nth-of-type(4){
  height: 100px;
  grid-column-start:1;
  grid-column-end: 4;
}
.contact button{
  padding: 10px 20px;
  border: none;
  background-color: #E8C300;
  color: white;
  width: 30%;
  height: 45px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
/* FOOTER */
.footer {
  height: 10vh;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p{
  color: #e5e5e5;
  font-size: .8rem;
}
/* fmndn
sldsd
dksmksm
dkmskdmskd
dkmskdmkd
dmskdmksdmd
skdmskdm
ksfodd
 */

/* MEDIA QUERIES */
@media only screen and (max-width: 600px){
  html{
    overflow-x: hidden;
  }
  :root{
    font-size: 14px;
  }
  /* navbar */
  .navbar{
    position: relative;
    height: auto;
  }
  .logo img{
    display: none;
  }
  .logosmall{
    z-index: 2;
    display: inline-block;
    margin-top: 15px;
  }
  .logosmall img{
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 3%;
    width: 35px;
    height: 35px;
  }
  .nav-items li{
    width: 100%;
    text-align: center;
  }
  .menu-btn{
    display: inline-block;
    z-index: 2;
    margin-top: 15px;
  }
  /* header */
  .header{
    background-size: cover;
    background-position: center;
  }
  .main-title h1{
    font-size: 2.5rem;
    text-align: center;
  }
  .main-title .btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btns button{
    padding: 8px 15px;
  }
  .main-title h1:after{
    width: 80%;
    border-bottom: solid 3px #E8C300;
    top: 45%;
  }
  /* about-us */
  .aboutus{
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .aboutus .abt-img{
    height: 40%;
    width: 100%;
  }
  .aboutus .abt-img img:nth-of-type(1){
    width: 300px;
    height: 300px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-48%);
  }
  .aboutus .abt-img img:nth-of-type(2){
    position: relative;
    width: 180px;
    height: 180px;
  }
  .aboutus .abt-text{
    width: 90%;
    padding: 0;
    text-align: center;
  }
  .aboutus .abt-text h1{
    font-family: 'Banny';
    padding: 5px;
    font-size: 1.6rem;
    position: absolute;
    top: 2%;
  }
  .aboutus .abt-text h3{
    font-size: 1.2rem;
  }
  .aboutus .abt-text p{
    font-size: 1rem;
  }

  /* TEAM */
  .team{
    flex-direction: column;
    background-position: center;
    color: white;
    position: relative;
  }
   .team-text{
    width: 90%;
    padding: 0;
  }
   .team-text h1{
    font-size: 1.6rem;
    position: absolute;
    top: 2%;
  }
   .team-text h3{
    font-size: 1.2rem;
  }
   .team-text p{
    font-size:1rem;
  }
   .team-img{
    height: 40%;
    width: 100%;
    position: relative;
  }
  .team-img img:nth-of-type(1){
    width: 300px;
    height: 300px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-48%);
  }
  .team-img img:nth-of-type(2){
    position: relative;
    width: 160px;
    height: 160px;
    left: 60%;
  }

  /* booking */
  .booking{
   flex-direction: column-reverse;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
   min-height: 120vh;
  }
  .booking-img{
    height: 40%;
    width: 100%;
    position: relative;
  }
  .booking-img img:nth-of-type(1){
    width: 300px;
    height: 300px;
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .booking-img img:nth-of-type(2){
    position: relative;
    width: 160px;
    height: 160px;
    left: -10%;
    top: unset;
    bottom: 80%;
  }
  .booking-content{
    height:unset;
    width: 80%;
    margin: unset;
  }
  .booking-content h1{
    font-size: 1.6rem;
    position: absolute;
    top: 2%;
  }
  .booking-content .inputs{
    display: grid;
    grid-template-columns:none;
    grid-template-rows: repeat(6,1fr);
    gap:15px;
    width: 100%;
  }
  .booking-content .inputs input{
    width:100%;
    height: 40px;
  }
  .booking-content button{
    width: 100%;
    height: 35px;
    margin-top: 20px;
  }

  /* specialties */
  .specialties{
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    color: white;
    position: relative;
  }
  
  .spe-text{
    height: unset;
    width: 100%;
    padding-bottom: 10px;
  }
   .spe-text h1{
    font-size: 1.6rem;
    position: absolute;
    top: 2%;
  }
   .spe-text h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
   .spe-text p{
    font-size: 1rem;
  }
  .spe-img{
    height: 40%;
    width: 100%;
    position: relative;
  }
  .spe-img img:nth-of-type(1){
    width: 300px;
    height: 300px;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-48%);
  }
  .spe-img img:nth-of-type(2){
    position: relative;
    width: 160px;
    height: 160px;
    left: 60%;
  }

  /* MENU */
  .menu{
    position: relative;
    min-height: 120vh;
  }
  .menu h1{
    font-size: 1.6rem;
  }
  .menu p{
    text-align: center;
  }
  .genre li{
    padding:0 6px;
  }
  .list-menu{
    grid-template-columns: none;
    grid-template-rows: repeat(8,1fr);
    gap:2rem;
  }
  .list-menu :nth-child(even){
    display: none;
  }


  /* Events */
  .events{
    position: relative;
  }
  .events h3{
    font-size: 1rem;
  }
  .events p{
    font-size: .9rem;
    text-align: center;
    padding: 0 10px;
  }
  .event-img-1{
    height: unset;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .part1,.part2{
    position: relative;
  }
  .part1 img:nth-of-type(2){
    width: 300px;
    height: 300px;
  }
  .part1 img:nth-of-type(1){
    width: 160px;
    height: 160px;
    position: absolute;
    left: -18%;
    top: 20%;
  }
  .part2 img:nth-of-type(1){
    width: 300px;
    height: 300px;
  }
  .part2 img:nth-of-type(2){
    width: 160px;
    height: 160px;
    position: absolute;
    left: 62%;
    top: 20%;
  }
  .event-img-2{
    border: none;
    flex-direction: column;
    position: relative;
  }
  .event-img-2 img{
    margin: 10px 5px;
    border: 5px solid #fff;
    width: 300px;
    height: 300px;
  }

  /* CONTACT */
  .contact-inputs{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
  }
  .contact input{
    padding: 7px 10px;
    border-radius: 2px;
    border: .2px solid #171717;
    height: unset;
  }
  .contact-inputs input:nth-of-type(4){
    height: 40px;
    grid-column-start:unset;
    grid-column-end: unset;
  }
  .contact button{
    padding: 7px 15px;
    width:unset;
    height: unset;
  }

}


